* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}


body{
  background-color: #334052;
}

html, body, #root {
  height: 100%;
}



*, button, input {
  border: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32,34,37);
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;

  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64,68,75);
  --symbol: #74777a;

  --notification: #f84a4b;
  --discord: #6e86d6;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;

  --rocketseat: #6633cc;
}




.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}






.grid-container {
  display: grid;

  grid-template-columns: 71px 240px auto 240px;
  grid-template-rows: 46px auto 52px;

  grid-template-areas:  'SL SN CI CI'
                        'SL CL CD UL'
                        'SL UI CD UL';


  height: 100vh;

}




.sl-ctn {
  grid-area: SL;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--tertiary);
  padding: 11px 0;

  max-height: 100vh;
  overflow-y: scroll;

 

}

.sl-ctn::-webkit-scrollbar {
  display: none;
}


.sl-sp {
  width: 32px;
  border-bottom: 2px solid var(--quaternary);

  margin-bottom: 8px;
}


.sl-bt-home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 48px;
  height: 48px;

  margin-bottom: 8px;
  background-color: var(--rocketseat);

  position: relative;
  cursor: pointer;

  border-radius: 50%;

  transition: border-radius .2s, border-radius .2s
}

.sl-bt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 48px;
  height: 48px;

  margin-bottom: 8px;
  background-color: var(--primary);

  position: relative;
  cursor: pointer;

  border-radius: 50%;

  transition: border-radius .2s, border-radius .2s;
}

.sl-img {
  width: 24px;
  height: 24px;
}


button.not::before{
  width: 9px;
  height: 9px;

  position: absolute;
  left: -17px;
  top: calc(50% - 4.5px);

  background-color: var(--white);
  border-radius: 50%;

  content: '';
  display: inline
}


button.men::after{
  background-color: var(--notification);
  width: auto;
  height: 16px;

  padding: 0 4px;

  position: absolute;
  bottom: -4px;
  right: -4px;

  border-radius: 12px;
  border: 4px solid var(--quaternary);

  text-align: right;
  font-size: 13px;
  font-weight: bold;
  color: var(--white);

  content: attr(value);
  box-sizing: unset;
  display: inline;
}


.sl-bt-home.active,.sl-bt-home:hover{
  border-radius: 16px;
  background-color: var(--rocketseat);
}


.sl-bt.active,.sl-bt:hover {
  border-radius: 16px;
  background-color: var(--discord);
}












.sn-ctn{
  grid-area: SN;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 11px 0 16px;

  background-color: var(--secondary);

  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  z-index: 2;
}


.sn-title{
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
}


.sn-icon{
  width: 28px;
  height: 28px;

  color: var(--white);
  cursor: pointer;
}










.ci-ctn{
  grid-area: CI;

  display: flex;
  align-items: center;

  padding: 0 17px;
  background-color: var(--primary);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
  z-index: 2;

}


.ci-icon {
  width: 24px;
  height: 24px;
  filter: invert(47%) sepia(7%) saturate(182%) hue-rotate(169deg) brightness(96%) contrast(87%);
}


.ci-title {
  margin-left: 9px;

  font-size: 16px;
  font-weight: bold;

  color: var(--white);
}

.ci-sp {
  height: 24px;
  width: 1px;

  background-color: var(--white);
  opacity: 0.2;

  margin: 0 13px;

}

.ci-dp {
  font-size: 15px;
  color: var(--gray);
}





.cl-ctn {
  grid-area: CL;

  display: flex;
  flex-direction: column;

  padding: 24px 9.5px 0 16px;
  background-color: var(--secondary);
}



.cl-ct{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 6px;
}


.cl-title-span {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: var(--gray)
}

.cl-icon {
  width: 21px;
  height: 21px;

  color: var(--symbol);
  cursor: pointer;
}







.cb-ctn{
  display: flex;

  align-items: center;
  justify-content: space-between;

  cursor: pointer;

  padding: 5px 3px;
  border-radius: 5px;

  background-color: transparent;

  transition: background-color .2s;

}


.cb-ctn>div{
  display: flex;
  align-items: center;
}

.cb-ctn>div>span {
  font-size: 15px;
  margin-left:5px;
  color: var(--senary);
}


.cb-ctn:hover, .cb-ctn:active {
  background-color: var(--quinary);
}


.cb-ctn:hover>div>.cb-cn, .cb-ctn:active>div>span.cb-cn {
  color: var(--white);
}

.cb-ctn .settings{
  display: none;
}

.cb-ctn:hover> .settings {
  display: flex;
  align-items: center;
}


.cb-icon-hashtag  {
  width: 20px;
  height: 20px;

  filter: invert(54%) sepia(2%) saturate(564%) hue-rotate(169deg) brightness(85%) contrast(86%);

  
}


.cb-icon-add {
  width: 16px;
  height: 16px;

  color: var(--symbol);
  cursor: pointer;

  transition: color .2s;

}

.cb-icon-add:hover {
  color: var(--white);
}


.cb-icon-settings {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  color: var(--symbol);
  cursor: pointer;

  transition: color .2s;

}

.cb-icon-settings:hover {
  color: var(--white);
}












.ui-ctn {
  grid-area: UI;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding:10px;
  background-color: var(--quaternary);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px 0px;
}


.ui-profile {
  display: flex;
  align-items: center;
}

.ui-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--gray);
}

.ui-user-data{
  margin-left: 8px;

  display: flex;
  flex-direction: column;
}

.ui-user-data>strong{
  color: var(--white);
  font-size:13px;
  display: block;
  
}

.ui-user-data>span{
  color: var(--gray);
  font-size: 13px;
}



.ui-icons {
  display: flex;
  align-items: center;
}

.ui-icons>span:not(:first-child) {
  margin-left: 7px;
}




.ui-icon-mic {
  font-size: 20px;

  color: var(--white);
  opacity: .7;
  cursor: pointer;

  transition: opacity .2s;

}

.ui-icon-mic:hover {
  opacity: 1;
}

.ui-icon-headset {
  font-size: 20px;

  color: var(--white);
  opacity: .7;
  cursor: pointer;

  transition: opacity .2s;

}

.ui-icon-headset:hover {
  opacity: 1;
}

.ui-icon-settings {
  font-size: 20px;

  color: var(--white);
  opacity: .7;
  cursor: pointer;

  transition: opacity .2s;

}

.ui-icon-settings:hover {
  opacity: 1;
}










.ul-ctn {
  grid-area: UL;

  display: flex;
  flex-direction: column;

  padding: 3px 6px 0 16px;

  background-color: var(--secondary);

  max-height: calc(100vh - 46px);
  overflow-y: scroll;
}

.ul-ctn::-webkit-scrollbar{
  width: 4px;
}
.ul-ctn::-webkit-scrollbar-thumb{
 background-color: var(--tertiary);
 border-radius: 4px;
}
.ul-ctn::-webkit-scrollbar-track{
  background-color: var(--secondary);
}

.ul-role {
  margin-top: 20px;

  text-transform: uppercase;
  font-size: 12px;
  font-weight:500;
  color: var(--gray)
}

.ul-ur {
  margin-top: 5px;
  padding: 5px;

  display: flex;
  align-items: center;

  cursor: pointer;
  border-radius: 4px;
  background: transparent;
  transition: background .2s;
}

.ul-ur:hover {
  background:rgba(255, 255, 255, 0.1);
}

.ul-ur>strong{
  margin-left: 13px;
  font-weight: 500;
  color: var(--white);
  opacity: 0.7;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ul-ur>span{
  margin-left: 9px;
  background-color: var(--discord);
  color: var(--white);
  border-radius: 4px;
  padding: 4px 5px;
  
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.ul-av {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--primary);
}


.ul-av.bot{
  background-color: var(--mention-detail);
}














.cd-ctn {
  grid-area: CD;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
}


.cd-msg {
  padding:20px 0;

  display: flex;
  flex-direction: column;

  max-height: calc(100vh - 45px - 75px);
  overflow-y: scroll;
}


.cd-msg::-webkit-scrollbar{
  width: 8px;
}
.cd-msg::-webkit-scrollbar-thumb{
 background-color: var(--tertiary);
 border-radius: 4px;
}
.cd-msg::-webkit-scrollbar-track{
  background-color: var(--secondary);
}




.cd-input-wrapper {
  width: 100%;
  padding: 0 16px;
}

.cd-input {
  width: 100%;
  height: 44px;

  padding: 0 10px 0 57px;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--chat-input);
  position: relative;
}


.cd-input::placeholder {
  color: var(--gray);
}

.cd-input~span {
  position: relative;
  top: -45%;
  left: 14px;

  transition: 180ms ease-in-out;
}

.cd-icon-email {
  color: var(--gray);
}












.cm-ctn{
  display: flex;
  align-items: center;

  padding: 4px 16px;
  margin-right: 4px;

  background-color: transparent;

}

.cm-ctn.mention {
  background-color: var(--mention-message);

  border-left: 2px solid var(--mention-detail);
  padding-left: 14px;
}

.cm-ctn + div {
  margin-top: 13px;
}


.cm-avatar {
  width: 40px;
  height: 40px;

  background-color: var(--secondary);
  border-radius: 50%;
}

.cm-avatar.bot {
  background-color: var(--mention-detail);
}


.cm-message {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 17px;

}

.cm-header {
  display: flex;
  align-items: center;
}

.cm-header>strong {
  color: var(--white);
  font-size: 16px;
}

.cm-header>span {
  margin-left: 6px;

  background-color: var(--discord);
  color: var(--white);
  border-radius: 4px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.cm-header>time {
  margin-left: 6px;
  color: var(--gray);
  font-size: 13px;
}

.cm-content {
  text-align: left;
  font-size: 16px;
  color: var(--white);
}

.cm-mention {
  color: var(--link);
  cursor: pointer;
}

.cm-mention:hover {
  text-decoration: underline;
}