.cd-ctn {
  grid-area: CD;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary);
}


.cd-msg {
  padding:20px 0;

  display: flex;
  flex-direction: column;

  max-height: calc(100vh - 46px - 75px);
  overflow-y: scroll;
}


.cd-msg::-webkit-scrollbar{
  height: 16px;
  width: 16px;
}

.cd-msg::-webkit-scrollbar-corner{
 background-color:transparent;
}

.cd-msg::-webkit-scrollbar-thumb {
  background-color: var(--tertiary);
  min-height: 40px;
}

.cd-msg::-webkit-scrollbar-track {
  margin-bottom: 8px;
  background-color: var(--secondary);
}


.cd-msg::-webkit-scrollbar-thumb,
.cd-msg::-webkit-scrollbar-track{
border: 4px solid transparent;
 background-clip: padding-box;
 border-radius: 8px;
 
}



  





.cd-input-wrapper {
  width: 100%;
  padding: 0 16px;
}

.cd-input {
  width: 100%;
  height: 44px;

  padding: 0 10px 0 57px;
  border-radius: 7px;
  color: var(--white);
  background-color: var(--chat-input);
  position: relative;
}


.cd-input::placeholder {
  color: var(--gray);
}

.cd-input~span {
  position: relative;
  top: -45%;
  left: 14px;

  transition: 180ms ease-in-out;
}

.cd-icon-email {
  color: var(--gray);
}












.cm-ctn{
  display: flex;
  align-items: center;

  padding: 4px 16px;
  margin-right: 4px;

  background-color: transparent;

}

.cm-ctn.mention {
  background-color: var(--mention-message);

  border-left: 2px solid var(--mention-detail);
  padding-left: 14px;
}

.cm-ctn + div {
  margin-top: 13px;
}


.cm-avatar {
  width: 40px;
  height: 40px;

  background-color: var(--secondary);
  border-radius: 50%;
}

.cm-avatar.bot {
  background-color: var(--mention-detail);
}


.cm-message {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-left: 17px;

}

.cm-header {
  display: flex;
  align-items: center;
}

.cm-header>strong {
  color: var(--white);
  font-size: 16px;
}

.cm-header>span {
  margin-left: 6px;

  background-color: var(--discord);
  color: var(--white);
  border-radius: 4px;

  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
}

.cm-header>time {
  margin-left: 6px;
  color: var(--gray);
  font-size: 13px;
}

.cm-content {
  text-align: left;
  font-size: 16px;
  color: var(--white);
}

.cm-mention {
  color: var(--link);
  cursor: pointer;
}

.cm-mention:hover {
  text-decoration: underline;
}