* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}


body{
  background-color: #334052;
}

html, body, #root {
  height: 100%;
}



*, button, input {
  border: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #36393f;
  --secondary: #2f3136;
  --tertiary: rgb(32,34,37);
  --quaternary: #292b2f;
  --quinary: #393d42;
  --senary: #828386;

  --white: #fff;
  --gray: #8a8c90;
  --chat-input: rgb(64,68,75);
  --symbol: #74777a;

  --notification: #f84a4b;
  --discord: #5865f2;
  --mention-detail: #f9a839;
  --mention-message: #413f3f;

  --link: #5d80d6;

}




.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}






.grid-container {
  display: grid;

  grid-template-columns: 72px 240px auto 240px;
  grid-template-rows: 46px auto 52px;

  grid-template-areas:  'SL SN CI CI'
                        'SL CL CD UL'
                        'SL UI CD UL';


  height: 100vh;

}
